/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/app/login/styles.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.styles_signin__xOCo_ {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    background-color: rgb(var(--color-surface));
  }
  
  .styles_googlebutton__h3hGN {
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    gap: 0.5rem;
  }
